.itemText {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.itemName {
  font-weight: 600;
  margin-right: 15px;
}

Loader {
  z-index: 100;
}
